<div class="container">

  <app-search (emitSearch)="searchGit($event)"></app-search><br>

</div>


<div class="container-fluid row">


  <div class="col-md-2">

    <div>
      <img id="avatar" src="{{Users.avatar_url}}" alt="profile pic" height="250px" width="250px"
        style="border-radius: 100%;">
      <p>Username: <strong>{{Users.login}}</strong></p>
      <p>Followers: <strong>{{Users.followers}}</strong></p>
      <p>Following: <strong>{{Users.followers}}</strong></p>
    </div>

  </div>

  <div class="col-md-8">

    <div *ngIf='Repos'>
      <div *ngFor='let repo of Repos'>
        <h3>{{repo.name}}</h3>
        <p> {{repo.description}} </p>

      </div>
    </div>

  </div>

  <div class="col-md-2">

  </div>



</div>




<!-- </div> -->
