
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,500&display=swap');
.image{
  background: url("https://bit.ly/3y5PFY1")no-repeat center center;
  background-color: black;
  background-size: 100% 100%;
  height: 949px;
}
.form{
  padding-left: 35%;
  padding-top: 15%;
}
.back{
  background-color: rgba(0, 0, 0, 0.5);
}

.con{
  margin-left: 10%;
  padding: 30px;
  padding-top: 30px;
  border-radius: 20px;
  height: auto;
  width: 100%;
  background: url("https://bit.ly/3f0cKnA")no-repeat center center;
  background-color: black;
  background-size: 100% 100%;


}
.profile{


  font-family: 'Playfair Display', serif;

}

.user{
  font-family: 'Playfair Display', serif;


}

.name{
  color: wheat;
  font-size: 30px;
  font-weight: 900;
  font-family: 'Lobster', cursive;
}
.desscription{
  color: whitesmoke;
  font-size: 20px;
}
